@model Lombard.Domain.ViewModels.ActDetailsVM

@{
    ViewData["Title"] = "Details";
}


<!-- Form holder starts here -->
<div class="main-form-holder-inside-page-cont d-f">

    <div class="label-holder-inside-form-holder d-f">
        <p class="f-s-24 f-w-bold"
        id="PageIndicator" data-page="Akt" data-indicator="Aktın detallarına baxırsınız">
            Aktın detalları</p>
    </div>
    <div class="form-part-inside-form-holder d-f">
        <div class="custom-row-input-row-inside-form-part d-g">
            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Aktın adı</label>
                <input type="text" value="@Html.DisplayFor(model => model.Name)" readonly>
            </div>
            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Ad, Soyad, Ata adı</label>
                @if (Model.IndividualDebtor != null)
                {
                    <input type="text" value="@Html.DisplayFor(model => model.IndividualDebtor.Name) @Html.DisplayFor(model => model.IndividualDebtor.Surname) @Html.DisplayFor(model => model.IndividualDebtor.Patronymic)"
                       readonly>
                }
                else
                {
                    <input type="text" value="@Html.DisplayFor(model => model.LegalDebtor.Name)" readonly>
                }
            </div>

            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Bağlanma tarixi</label>
                <input class="date_input_for_details" type="text" value="@Html.DisplayFor(model => model.Date)" readonly>
            </div>
            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Yaranma tarixi</label>
                <input class="date_input_for_details" type="text" value="@Html.DisplayFor(model => model.CreateAt)" readonly>
            </div>

            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Aktın növü</label>
                <input type="text" value="@Html.DisplayFor(model => model.ActType)" readonly>
            </div>

            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Ümumi çəki</label>
                <input type="text" value="@Html.DisplayFor(model => model.TotalGoldWeight)" readonly>
            </div>
            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Daş çəki</label>
                <input type="text" value="@Html.DisplayFor(model => model.TotalJewelsWeight)" readonly>
            </div>
            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Xalis çəki</label>
                <input type="text" value="@Html.DisplayFor(model => model.TotalGoldNetWeight)" readonly>
            </div>

            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Məmulatın likvid qiyməti</label>
                <input type="text" value="@Html.DisplayFor(model => model.TotalGoldLikvidPrice)" readonly>
            </div>
            <div class="input-holder-with-label d-f">
                <label for="customInput" class="f-s-14 f-w-500">Məmulatın Bazar qiyməti</label>
                <input type="text" value="@Html.DisplayFor(model => model.TotalGoldMarketPrice)" readonly>
            </div>
        </div>
    </div>
    <div class="button-holder-inside-form-holder d-f f-center">
      
      
        <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="/Act/Details/@Model.Id"  class="green-button d-f t-d-n g-10 align-center">
            Dəyiş
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="stroke-color-change-green" d="M13 11L21.2 2.80005" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path class="stroke-color-change-green" d="M22 6.8V2H17.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path class="stroke-color-change-green" d="M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
</div>
<!-- Form holder ends here -->


<!--Empty space div starts here-->
<div class="empty-space-div-30"></div>
<!--Empty space div ends here-->


<!-- Table holder starts here -->
<div class="main-table-holder-inside-page-cont d-f">
    <div class="label-holder-inside-form-holder d-f">
        <p class="f-s-24 f-w-bold">Qızıllar</p>
    </div>
    <div class="table-inside-table-holder">
        <table>
            <thead>
                <tr class="table-row-inside-table">
                    <th class="background-gray-th-inside-table">№</th>
                    <th>
                        <div class="d-f">
                            Məmulatın adı və təsviri
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Əyarı
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            1 qr likvid qiyməti
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            1 qr bazar qiyməti
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Əşyaların sayı
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Ümumi çəki
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Daş çəki
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Xalis çəki
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Məmulatın likvid qiyməti
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            Məmulatın bazar qiyməti
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            <p>Dəyiş</p>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            <p>Detallara bax</p>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                    <th>
                        <div class="d-f">
                            <p>Sil</p>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                            </svg>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Golds)
                {
                    <form asp-action="EditGoldAsExcel" id="gold_for_inside_excel_table_@item.Id"
                    asp-controller="Act" asp-route-actId="@Model.Id" asp-route-Id="@item.Id">
                        <tr class="table-row-inside-table">
                            <td class="background-gray-th-inside-table table-row-count"></td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <select disabled class="disabled_table_input" asp-for="@item.GoldTypeId" asp-items="(IEnumerable<SelectListItem>)@ViewData["GoldTypes"]" name="GoldTypeId">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <select disabled class="disabled_table_input" asp-for="@item.HallmarkId" asp-items="(IEnumerable<SelectListItem>)@ViewData["HallMarks"]" 
                                    onchange="HallmarkChange(this)" name="HallmarkId">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.OneGramLikvidPrice" class="form-control one_gram_likvid_price_input" name="OneGramLikvidPrice"
                                    id="OneGramLikvidPrice" readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.OneGramStorePrice" class="form-control one_gram_market_price_input" name="OneGramStorePrice"
                                    id="OneGramStorePrice" readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.ItemsCount" class="disabled_table_input gold_count_input" name="ItemsCount"
                                    required oninvalid="this.setCustomValidity('Sayını yazın')" type="text"
                                    oninput="this.setCustomValidity('')" disabled/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.TotalWeight" class="disabled_table_input total_weight_input" name="TotalWeight"
                                    required oninvalid="this.setCustomValidity('Ümumi çəkisini yazın')" type="text"
                                    oninput="this.setCustomValidity('')" onchange="CalculateNetWeight(this)" disabled/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.JewelWeight" class="disabled_table_input jewel_weight_input" name="JewelWeight"
                                    required oninvalid="this.setCustomValidity('Daş çəkisini yazın')" type="text"
                                    oninput="this.setCustomValidity('')" onchange="CalculateNetWeight(this)" disabled/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.NetWeight" class="net_weight_input" name="NetWeight"
                                    required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.LikvidPrice" class="likvid_price_input" name="LikvidPrice"
                                    readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-holder-with-label d-f">
                                    <input asp-for="@item.MarketPrice" class="market_price_input" name="MarketPrice"
                                    readonly/>
                                </div>
                            </td>
                            <td>
                                <button type="button" onclick="MakeRowEditable(this)" 
                                class="elm-with-tooltip submit-button-in-table" 
                                data-tooltip="Dəyişmək üçün klikləyin" data-item-id="@item.Id">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.03984 17.6251C6.08672 17.6251 6.13359 17.6204 6.18047 17.6134L10.1227 16.922C10.1695 16.9126 10.2141 16.8915 10.2469 16.8564L20.182 6.92122C20.2038 6.89953 20.221 6.87378 20.2328 6.84542C20.2445 6.81707 20.2506 6.78668 20.2506 6.75598C20.2506 6.72529 20.2445 6.69489 20.2328 6.66654C20.221 6.63819 20.2038 6.61243 20.182 6.59075L16.2867 2.69309C16.2422 2.64856 16.1836 2.62512 16.1203 2.62512C16.057 2.62512 15.9984 2.64856 15.9539 2.69309L6.01875 12.6282C5.98359 12.6634 5.9625 12.7056 5.95312 12.7525L5.26172 16.6947C5.23892 16.8202 5.24707 16.9494 5.28545 17.0711C5.32384 17.1928 5.39132 17.3033 5.48203 17.3931C5.63672 17.5431 5.83125 17.6251 6.03984 17.6251ZM7.61953 13.5376L16.1203 5.03918L17.8383 6.75715L9.3375 15.2556L7.25391 15.6236L7.61953 13.5376ZM20.625 19.5939H3.375C2.96016 19.5939 2.625 19.929 2.625 20.3439V21.1876C2.625 21.2907 2.70937 21.3751 2.8125 21.3751H21.1875C21.2906 21.3751 21.375 21.2907 21.375 21.1876V20.3439C21.375 19.929 21.0398 19.5939 20.625 19.5939Z" fill="#3B72FF" />
                                    </svg>
                                </button>
                            </td>
                            <td>
                                <a onclick="ToggleModal(this)" data-modal="modal-for-gold-details-@item.Id" class="elm-with-tooltip" data-tooltip-on-right="Detallara baxmaq üçün klikləyin">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 3.00012C10.22 3.00012 8.47992 3.52796 6.99987 4.5169C5.51983 5.50583 4.36628 6.91144 3.68509 8.55597C3.0039 10.2005 2.82567 12.0101 3.17294 13.7559C3.5202 15.5018 4.37737 17.1054 5.63604 18.3641C6.89472 19.6228 8.49836 20.4799 10.2442 20.8272C11.99 21.1745 13.7996 20.9962 15.4442 20.315C17.0887 19.6339 18.4943 18.4803 19.4832 17.0003C20.4722 15.5202 21 13.7802 21 12.0001C20.9974 9.61397 20.0484 7.32628 18.3611 5.63901C16.6738 3.95174 14.3862 3.0027 12 3.00012ZM12 19.5001C10.5166 19.5001 9.0666 19.0603 7.83323 18.2361C6.59986 17.412 5.63857 16.2407 5.07091 14.8702C4.50325 13.4998 4.35473 11.9918 4.64411 10.5369C4.9335 9.08209 5.64781 7.74572 6.6967 6.69682C7.7456 5.64793 9.08197 4.93362 10.5368 4.64423C11.9917 4.35484 13.4997 4.50337 14.8701 5.07103C16.2406 5.63868 17.4119 6.59998 18.236 7.83335C19.0601 9.06671 19.5 10.5168 19.5 12.0001C19.4978 13.9886 18.7069 15.895 17.3009 17.301C15.8948 18.7071 13.9885 19.4979 12 19.5001ZM7.50001 11.2501C7.35167 11.2501 7.20666 11.2941 7.08333 11.3765C6.95999 11.4589 6.86386 11.5761 6.8071 11.7131C6.75033 11.8502 6.73548 12.001 6.76442 12.1464C6.79335 12.2919 6.86479 12.4256 6.96968 12.5305C7.07456 12.6353 7.2082 12.7068 7.35369 12.7357C7.49917 12.7647 7.64997 12.7498 7.78702 12.693C7.92406 12.6363 8.0412 12.5401 8.12361 12.4168C8.20602 12.2935 8.25001 12.1485 8.25001 12.0001C8.25001 11.8012 8.17099 11.6104 8.03033 11.4698C7.88968 11.3291 7.69892 11.2501 7.50001 11.2501ZM10.5 11.2501C10.3517 11.2501 10.2067 11.2941 10.0833 11.3765C9.95999 11.4589 9.86386 11.5761 9.8071 11.7131C9.75033 11.8502 9.73548 12.001 9.76442 12.1464C9.79336 12.2919 9.86479 12.4256 9.96968 12.5305C10.0746 12.6353 10.2082 12.7068 10.3537 12.7357C10.4992 12.7647 10.65 12.7498 10.787 12.693C10.9241 12.6363 11.0412 12.5401 11.1236 12.4168C11.206 12.2935 11.25 12.1485 11.25 12.0001C11.25 11.8012 11.171 11.6104 11.0303 11.4698C10.8897 11.3291 10.6989 11.2501 10.5 11.2501ZM13.5 11.2501C13.3517 11.2501 13.2067 11.2941 13.0833 11.3765C12.96 11.4589 12.8639 11.5761 12.8071 11.7131C12.7503 11.8502 12.7355 12.001 12.7644 12.1464C12.7934 12.2919 12.8648 12.4256 12.9697 12.5305C13.0746 12.6353 13.2082 12.7068 13.3537 12.7357C13.4992 12.7647 13.65 12.7498 13.787 12.693C13.9241 12.6363 14.0412 12.5401 14.1236 12.4168C14.206 12.2935 14.25 12.1485 14.25 12.0001C14.25 11.8012 14.171 11.6104 14.0303 11.4698C13.8897 11.3291 13.6989 11.2501 13.5 11.2501ZM16.5 11.2501C16.3517 11.2501 16.2067 11.2941 16.0833 11.3765C15.96 11.4589 15.8639 11.5761 15.8071 11.7131C15.7503 11.8502 15.7355 12.001 15.7644 12.1464C15.7934 12.2919 15.8648 12.4256 15.9697 12.5305C16.0746 12.6353 16.2082 12.7068 16.3537 12.7357C16.4992 12.7647 16.65 12.7498 16.787 12.693C16.9241 12.6363 17.0412 12.5401 17.1236 12.4168C17.206 12.2935 17.25 12.1485 17.25 12.0001C17.25 11.8012 17.171 11.6104 17.0303 11.4698C16.8897 11.3291 16.6989 11.2501 16.5 11.2501Z" fill="#3B72FF" />
                                    </svg>
                                </a>

                                <!-- details modal starts here -->
                                <div class="modal details-modal modal-for-gold-details-@item.Id">
                                    <div class="modal-header d-f">
                                        <div class="modal-close-button-div elm-with-tooltip" onclick="ToggleModal(this)" data-modal="modal-for-gold-details-@item.Id" 
                                        data-tooltip="Modalı bağlamaq üçün klikləyin">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.9 2H9.10001C8.42001 2 7.46 2.4 6.98 2.88L2.88 6.98001C2.4 7.46001 2 8.42001 2 9.10001V14.9C2 15.58 2.4 16.54 2.88 17.02L6.98 21.12C7.46 21.6 8.42001 22 9.10001 22H14.9C15.58 22 16.54 21.6 17.02 21.12L21.12 17.02C21.6 16.54 22 15.58 22 14.9V9.10001C22 8.42001 21.6 7.46001 21.12 6.98001L17.02 2.88C16.54 2.4 15.58 2 14.9 2Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M8.5 15.5L15.5 8.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M15.5 15.5L8.5 8.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>                                
                                        </div>
                                    </div>
                                    <div class="modal-body d-f">
                                        <div class="label-holder-inside-modal d-f f-center">
                                            <p class="f-s-24 f-w-bold">Qızılın detalları</p>
                                        </div>

                                        <div class="form-holder-inside-modal d-f">
                                            <div class="form-row-inside-modal d-f">
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Qızılın adı</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.GoldType.Name)" readonly>
                                                </div>
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Əyyar</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.Hallmark.TypeName)" readonly>
                                                </div>
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Sayı</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.ItemsCount)" readonly>
                                                </div>
                                            </div>
                                            <div class="form-row-inside-modal d-f">
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Ümumi çəki</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.TotalWeight)" readonly>
                                                </div>
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Daş çəki</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.JewelWeight)" readonly>
                                                </div>
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Xalis çəki</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.NetWeight)" readonly>
                                                </div>
                                            </div>
                                            <div class="form-row-inside-modal d-f">
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Məmulatın likvid qiyməti</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.LikvidPrice)" readonly>
                                                </div>
                                                <div class="input-holder-with-label d-f">
                                                    <label class="f-s-14 f-w-500">Məmulatın bazar qiyməti</label>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.MarketPrice)" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- details modal ends here -->
                            </td>
                            <td>
                                <a asp-action="DeleteGold"   asp-route-id="@item.Id" class="elm-with-tooltip" data-tooltip-on-right="Silmək üçün klikləyin">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.25 6H17.25V4.125C17.25 3.29766 16.5773 2.625 15.75 2.625H8.25C7.42266 2.625 6.75 3.29766 6.75 4.125V6H3.75C3.33516 6 3 6.33516 3 6.75V7.5C3 7.60313 3.08437 7.6875 3.1875 7.6875H4.60312L5.18203 19.9453C5.21953 20.7445 5.88047 21.375 6.67969 21.375H17.3203C18.1219 21.375 18.7805 20.7469 18.818 19.9453L19.3969 7.6875H20.8125C20.9156 7.6875 21 7.60313 21 7.5V6.75C21 6.33516 20.6648 6 20.25 6ZM15.5625 6H8.4375V4.3125H15.5625V6Z" fill="#3B72FF" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>
</div>


@*<div class="elm-with-tooltip add-button-svg-holder" data-tooltip="Yeni qızıl əlavə etmək üçün klikləyin">
    <a asp-action="AddGold" asp-route-returnUrl="/Act/Details/@Model.Id" asp-route-Id="@Model.Id">
        <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="68" height="68" rx="34" fill="#E3EBFF" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34 23C27.925 23 23 27.925 23 34C23 40.075 27.925 45 34 45C40.075 45 45 40.075 45 34C45 27.925 40.075 23 34 23ZM35 38C35 38.2652 34.8946 38.5196 34.7071 38.7071C34.5196 38.8946 34.2652 39 34 39C33.7348 39 33.4804 38.8946 33.2929 38.7071C33.1054 38.5196 33 38.2652 33 38V35H30C29.7348 35 29.4804 34.8946 29.2929 34.7071C29.1054 34.5196 29 34.2652 29 34C29 33.7348 29.1054 33.4804 29.2929 33.2929C29.4804 33.1054 29.7348 33 30 33H33V30C33 29.7348 33.1054 29.4804 33.2929 29.2929C33.4804 29.1054 33.7348 29 34 29C34.2652 29 34.5196 29.1054 34.7071 29.2929C34.8946 29.4804 35 29.7348 35 30V33H38C38.2652 33 38.5196 33.1054 38.7071 33.2929C38.8946 33.4804 39 33.7348 39 34C39 34.2652 38.8946 34.5196 38.7071 34.7071C38.5196 34.8946 38.2652 35 38 35H35V38Z" fill="#3B72FF" />
        </svg>
    </a>
</div>*@
<!-- Table holder ends here -->


<!--Empty space div starts here-->
<div class="empty-space-div-30"></div>
<!--Empty space div ends here-->



<!-- Table holder starts here -->
@if (@Model.ActType == Lombard.Domain.Enums.ActTypes.Main)
{
    <div class="main-table-holder-inside-page-cont d-f">
        <div class="label-holder-inside-form-holder d-f">
            <p class="f-s-24 f-w-bold">Digər Aktlar</p>
        </div>
        <div class="table-inside-table-holder">
            <table>
                <thead>
                    <tr class="table-row-inside-table">
                        <th class="background-gray-th-inside-table">№</th>
                        <th>
                            <div class="d-f">
                                Aktın növü
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                Aktın adı
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                Ümumi çəki
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                Daş çəki
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                Xalis çəki
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                Məmulatın likvid qiyməti
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                Məmulatın Bazar qiyməti
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                <p>Dəyiş</p>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                <p>Detallara bax</p>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                        <th>
                            <div class="d-f">
                                <p>Sil</p>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9" />
                                </svg>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.Acts)
                    {
                        <tr class="table-row-inside-table">

                            <td class="background-gray-th-inside-table table-row-count"></td>
                            <td>@Html.DisplayFor(modelItem => item.ActType)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalGoldWeight)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalJewelsWeight)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalGoldNetWeight)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalGoldLikvidPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalGoldMarketPrice)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-returnUrl="/Act/Details/@Model.Id"  class="elm-with-tooltip" data-tooltip="Dəyişmək üçün klikləyin">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.03984 17.6251C6.08672 17.6251 6.13359 17.6204 6.18047 17.6134L10.1227 16.922C10.1695 16.9126 10.2141 16.8915 10.2469 16.8564L20.182 6.92122C20.2038 6.89953 20.221 6.87378 20.2328 6.84542C20.2445 6.81707 20.2506 6.78668 20.2506 6.75598C20.2506 6.72529 20.2445 6.69489 20.2328 6.66654C20.221 6.63819 20.2038 6.61243 20.182 6.59075L16.2867 2.69309C16.2422 2.64856 16.1836 2.62512 16.1203 2.62512C16.057 2.62512 15.9984 2.64856 15.9539 2.69309L6.01875 12.6282C5.98359 12.6634 5.9625 12.7056 5.95312 12.7525L5.26172 16.6947C5.23892 16.8202 5.24707 16.9494 5.28545 17.0711C5.32384 17.1928 5.39132 17.3033 5.48203 17.3931C5.63672 17.5431 5.83125 17.6251 6.03984 17.6251ZM7.61953 13.5376L16.1203 5.03918L17.8383 6.75715L9.3375 15.2556L7.25391 15.6236L7.61953 13.5376ZM20.625 19.5939H3.375C2.96016 19.5939 2.625 19.929 2.625 20.3439V21.1876C2.625 21.2907 2.70937 21.3751 2.8125 21.3751H21.1875C21.2906 21.3751 21.375 21.2907 21.375 21.1876V20.3439C21.375 19.929 21.0398 19.5939 20.625 19.5939Z" fill="#3B72FF" />
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id"  class="elm-with-tooltip" data-tooltip-on-right="Detallara baxmaq üçün klikləyin">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 3.00012C10.22 3.00012 8.47992 3.52796 6.99987 4.5169C5.51983 5.50583 4.36628 6.91144 3.68509 8.55597C3.0039 10.2005 2.82567 12.0101 3.17294 13.7559C3.5202 15.5018 4.37737 17.1054 5.63604 18.3641C6.89472 19.6228 8.49836 20.4799 10.2442 20.8272C11.99 21.1745 13.7996 20.9962 15.4442 20.315C17.0887 19.6339 18.4943 18.4803 19.4832 17.0003C20.4722 15.5202 21 13.7802 21 12.0001C20.9974 9.61397 20.0484 7.32628 18.3611 5.63901C16.6738 3.95174 14.3862 3.0027 12 3.00012ZM12 19.5001C10.5166 19.5001 9.0666 19.0603 7.83323 18.2361C6.59986 17.412 5.63857 16.2407 5.07091 14.8702C4.50325 13.4998 4.35473 11.9918 4.64411 10.5369C4.9335 9.08209 5.64781 7.74572 6.6967 6.69682C7.7456 5.64793 9.08197 4.93362 10.5368 4.64423C11.9917 4.35484 13.4997 4.50337 14.8701 5.07103C16.2406 5.63868 17.4119 6.59998 18.236 7.83335C19.0601 9.06671 19.5 10.5168 19.5 12.0001C19.4978 13.9886 18.7069 15.895 17.3009 17.301C15.8948 18.7071 13.9885 19.4979 12 19.5001ZM7.50001 11.2501C7.35167 11.2501 7.20666 11.2941 7.08333 11.3765C6.95999 11.4589 6.86386 11.5761 6.8071 11.7131C6.75033 11.8502 6.73548 12.001 6.76442 12.1464C6.79335 12.2919 6.86479 12.4256 6.96968 12.5305C7.07456 12.6353 7.2082 12.7068 7.35369 12.7357C7.49917 12.7647 7.64997 12.7498 7.78702 12.693C7.92406 12.6363 8.0412 12.5401 8.12361 12.4168C8.20602 12.2935 8.25001 12.1485 8.25001 12.0001C8.25001 11.8012 8.17099 11.6104 8.03033 11.4698C7.88968 11.3291 7.69892 11.2501 7.50001 11.2501ZM10.5 11.2501C10.3517 11.2501 10.2067 11.2941 10.0833 11.3765C9.95999 11.4589 9.86386 11.5761 9.8071 11.7131C9.75033 11.8502 9.73548 12.001 9.76442 12.1464C9.79336 12.2919 9.86479 12.4256 9.96968 12.5305C10.0746 12.6353 10.2082 12.7068 10.3537 12.7357C10.4992 12.7647 10.65 12.7498 10.787 12.693C10.9241 12.6363 11.0412 12.5401 11.1236 12.4168C11.206 12.2935 11.25 12.1485 11.25 12.0001C11.25 11.8012 11.171 11.6104 11.0303 11.4698C10.8897 11.3291 10.6989 11.2501 10.5 11.2501ZM13.5 11.2501C13.3517 11.2501 13.2067 11.2941 13.0833 11.3765C12.96 11.4589 12.8639 11.5761 12.8071 11.7131C12.7503 11.8502 12.7355 12.001 12.7644 12.1464C12.7934 12.2919 12.8648 12.4256 12.9697 12.5305C13.0746 12.6353 13.2082 12.7068 13.3537 12.7357C13.4992 12.7647 13.65 12.7498 13.787 12.693C13.9241 12.6363 14.0412 12.5401 14.1236 12.4168C14.206 12.2935 14.25 12.1485 14.25 12.0001C14.25 11.8012 14.171 11.6104 14.0303 11.4698C13.8897 11.3291 13.6989 11.2501 13.5 11.2501ZM16.5 11.2501C16.3517 11.2501 16.2067 11.2941 16.0833 11.3765C15.96 11.4589 15.8639 11.5761 15.8071 11.7131C15.7503 11.8502 15.7355 12.001 15.7644 12.1464C15.7934 12.2919 15.8648 12.4256 15.9697 12.5305C16.0746 12.6353 16.2082 12.7068 16.3537 12.7357C16.4992 12.7647 16.65 12.7498 16.787 12.693C16.9241 12.6363 17.0412 12.5401 17.1236 12.4168C17.206 12.2935 17.25 12.1485 17.25 12.0001C17.25 11.8012 17.171 11.6104 17.0303 11.4698C16.8897 11.3291 16.6989 11.2501 16.5 11.2501Z" fill="#3B72FF" />
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="elm-with-tooltip" data-tooltip-on-right="Silmək üçün klikləyin">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.25 6H17.25V4.125C17.25 3.29766 16.5773 2.625 15.75 2.625H8.25C7.42266 2.625 6.75 3.29766 6.75 4.125V6H3.75C3.33516 6 3 6.33516 3 6.75V7.5C3 7.60313 3.08437 7.6875 3.1875 7.6875H4.60312L5.18203 19.9453C5.21953 20.7445 5.88047 21.375 6.67969 21.375H17.3203C18.1219 21.375 18.7805 20.7469 18.818 19.9453L19.3969 7.6875H20.8125C20.9156 7.6875 21 7.60313 21 7.5V6.75C21 6.33516 20.6648 6 20.25 6ZM15.5625 6H8.4375V4.3125H15.5625V6Z" fill="#3B72FF" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<!-- Table holder ends here -->

<!--Empty space div starts here-->
<div class="empty-space-div-30"></div>
<!--Empty space div ends here-->

<div class="button-holder-holder d-f">
    <a asp-action="Index" class="default-button t-d-n">Siyahıya geri dön</a>
</div>

<!--Empty space div starts here-->
<div class="empty-space-div-30"></div>
<!--Empty space div ends here-->





<script>
    function HallmarkChange(hallmark_select) {
        var gold_tr = hallmark_select.closest(".table-row-inside-table");
        var likvid_input = gold_tr.querySelector('#OneGramLikvidPrice');
        var market_input = gold_tr.querySelector('#OneGramStorePrice');

        console.clear();

        $.ajax({
          url: '/Act/GetHallmarkDetails/?hallmarkId=' + hallmark_select.value,
          type: 'GET',
          dataType: 'json', 
          //data: { id: $(this).val() }, 
          success: function (result) {

            console.log(result);
            var likvid_price = result.likvidPriceOfOneGram;
            var market_price = result.marketPriceOfOneGram;

            likvid_input.value = likvid_price;
            market_input.value = market_price;

            setTimeout(CalculateInputs , 100);

            function CalculateInputs(){
                CalculateNetWeight(hallmark_select , likvid_input , market_input);
            }
          }
        });
    }

    function CalculateNetWeight(weight_input , likvid_input , market_input){

        var closest_tr = weight_input.closest(".table-row-inside-table");
        var total_weight_input = closest_tr.querySelector(".total_weight_input");
        var jewel_weight_input = closest_tr.querySelector(".jewel_weight_input");
        var net_weight_input = closest_tr.querySelector(".net_weight_input");


        if(likvid_input != null){
            var one_gram_likvid_price_input = likvid_input;
        }else{
            var one_gram_likvid_price_input = closest_tr.querySelector(".one_gram_likvid_price_input");
        }
        
        if(market_input != null){
            var one_gram_market_price_input = market_input;
        }else{
            var one_gram_market_price_input = closest_tr.querySelector(".one_gram_market_price_input");
        }
        
        var likvid_price_input = closest_tr.querySelector(".likvid_price_input");
        var market_price_input = closest_tr.querySelector(".market_price_input");
        var net_weight_input_value = parseFloat(total_weight_input.value) - parseFloat(jewel_weight_input.value);
        var likvid_price_input_value = parseFloat(net_weight_input_value) * parseFloat(one_gram_likvid_price_input.value);
        var market_price_input_value = parseFloat(net_weight_input_value) * parseFloat(one_gram_market_price_input.value);

        if(net_weight_input_value > 0){
            net_weight_input.value = parseFloat(net_weight_input_value);
        }else{
            net_weight_input.value = 0;
        }

        if(likvid_price_input_value > 0 && market_price_input_value > 0){
            likvid_price_input.value = parseFloat(likvid_price_input_value);
            market_price_input.value = parseFloat(market_price_input_value);
        }else{
            likvid_price_input.value = 0;
            market_price_input.value = 0;
        }
    }

    function MakeRowEditable(make_editable_button){
        var this_row = make_editable_button.closest(".table-row-inside-table");
        var disabled_inputs = this_row.querySelectorAll(".disabled_table_input");
        var parent_make_editable_button = make_editable_button.parentElement;
        var item_id = make_editable_button.getAttribute("data-item-id");

        parent_make_editable_button.innerHTML = `
            <button type="submit" onclick="SubmitGoldForm(this , `+ item_id +`)" class="elm-with-tooltip submit-button-in-table" data-tooltip="Təsdiqləmək üçün klikləyin">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 12.0469C24 14.4155 23.2969 16.719 21.9668 18.7084C21.7861 18.9789 21.4891 19.125 21.1866 19.125C21.0075 19.125 20.8264 19.0739 20.6664 18.9668C20.2359 18.6791 20.1204 18.0968 20.408 17.6664C21.5314 15.9864 22.125 14.0433 22.125 12.0469C22.125 11.189 22.0177 10.337 21.806 9.51488C21.6769 9.01354 21.9789 8.50231 22.4802 8.37322C22.9819 8.24431 23.4928 8.54607 23.6219 9.04741C23.8727 10.0223 24 11.0314 24 12.0469ZM17.2375 20.7138C15.6628 21.6676 13.8517 22.1718 12 22.1718C6.41711 22.1718 1.875 17.6297 1.875 12.0469C1.875 6.46398 6.41711 1.92187 12 1.92187C14.0671 1.92187 16.0547 2.5404 17.7482 3.71063C18.1741 4.00488 18.758 3.89813 19.0525 3.47222C19.3467 3.04632 19.2402 2.4624 18.8141 2.16797C16.8058 0.780395 14.4496 0.046875 12 0.046875C8.79473 0.046875 5.78119 1.2951 3.51471 3.56158C1.24823 5.82806 0 8.8416 0 12.0469C0 15.2521 1.24823 18.2657 3.51471 20.5321C5.78119 22.7986 8.79473 24.0468 12 24.0468C14.1943 24.0468 16.3414 23.4488 18.2091 22.3174C18.652 22.0492 18.7936 21.4728 18.5253 21.0298C18.2569 20.5869 17.6805 20.4455 17.2375 20.7138ZM12.0904 14.7652C11.9419 14.7711 11.8033 14.7184 11.6957 14.6158L6.7857 9.96038C6.40997 9.60405 5.81653 9.6198 5.46039 9.99553C5.10406 10.3713 5.11981 10.9647 5.49554 11.3208L10.4046 15.9756C10.858 16.4066 11.4445 16.6406 12.0659 16.6406C12.0992 16.6406 12.1326 16.6399 12.1659 16.6386C12.8242 16.612 13.4288 16.3271 13.8682 15.8362C13.8794 15.824 13.89 15.8113 13.9004 15.7983L23.7931 3.49365C24.1175 3.09008 24.0535 2.49994 23.6499 2.17566C23.2465 1.85119 22.6562 1.91528 22.3317 2.31884L12.4585 14.5995C12.3614 14.7008 12.2314 14.7596 12.0904 14.7652Z" fill="#3B72FF"/>
                </svg>
            </button>
        `;

        for(i=0;i<disabled_inputs.length;i++){
            disabled_inputs[i].disabled = false;
            disabled_inputs[i].classList.remove("disabled_table_input");
        }
    }
    function SubmitGoldForm(submit_button , item_id){
        var form = document.querySelector("#gold_for_inside_excel_table_" + item_id);

        form.submit();
    }
</script>