@model Lombard.Domain.Entities.Gold

@{
    ViewData["Title"] = "GoldDetails";
}

<h1>GoldDetails</h1>

<div>
    <h4>Gold</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hallmark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hallmark.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneGramLikvidPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneGramLikvidPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneGramStorePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneGramStorePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JewelWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JewelWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikvidPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikvidPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
