@model Lombard.Domain.Entities.Bank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForPrint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForPrint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VOEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VOEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrespondentAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrespondentAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SWIFT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SWIFT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
